@use '@/scss/base/variables' as var;

.design-section__details {
  display: flex;
  flex-direction: column;

  gap: 16px;

  border: var.$border 1px solid;
  border-radius: var.$radius-lg;

  padding: 24px;

  p {
    font-size: var.$text-sm;
  }
}

.details__form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.design-section__questions {
  margin-top: 36px;
}

.questions__header {
  display: flex;

  justify-content: space-between;
}

.questions__list {

}