@use '@/scss/base/variables' as var;
@use '@/scss/base/mixins' as mix;

.design-section__details {
  display: flex;
  flex-direction: column;

  gap: 16px;

  border: var.$border 1px solid;
  border-radius: var.$radius-lg;

  padding: 24px;

  p {
    color: var.$muted-foreground;

    font-size: var.$text-sm;
  }
}

.details__form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.design-section__questions {
  margin-top: 36px;
}

.questions__header {
  display: flex;

  justify-content: space-between;
}

.questions__list {

}

.questions__item {
  position: relative;

  padding: 32px;
  margin-top: 32px;

  border: 1px solid var.$border;
  border-radius: var.$radius-md;

  box-shadow: var.$shadow-lg;

  h4 {
    margin-bottom: 8px;
  }

  p {
    font-size: var.$text-sm;

    color: var.$muted-foreground;

    margin-bottom: 16px;
  }
}

.add-button {
  margin-top: 16px;
}

.question-number {
  @include mix.center;

  width: 20px;
  height: 20px;

  font-size: var.$text-xs;

  background-color: var.$border;

  border-radius: 100%;

  position: absolute;

  top: 8px;
  left: 8px;
}

.radio-answer {
  display: flex;

  gap: 8px;
}

.radio-group-question {
  display: flex;
}

.checkbox-group-question {
  display: flex;
}

.checkbox-group-question {
  display: flex;

  flex-direction: column;

  gap: 8px;
}

.checkbox-answer {
  display: flex;

  align-items: center;
  gap: 8px;
}

.survey-info {
  h3 {
    margin-top: 32px;

    margin-bottom: 8px;
  }

  p {
    font-size: var.$text-sm;

    color: var.$muted-foreground;

    margin-bottom: 16px;
  }
}