@use '@/scss/base/variables' as var;
@use '@/scss/base/mixins' as mixins;

.header {
  width: 100%;
  display: flex;
  position: sticky;
  height: 60px;
  top: 0;
  border-bottom: rgba(var.$muted-foreground, 0.4) 1px solid;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  z-index: 5;
}

.header-content {
  @include mixins.container;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo__bg-logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var.$foreground;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo__text {
  font-weight: var.$bold;
  font-size: var.$text-sm;
  letter-spacing: var.$tracking-wider;
}

.header-nav{
  display: none;
}

.header-nav__list {
  display: flex;
  flex-direction: column;
}

.header-actions {
  display: flex;
  gap: 10px;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (min-width: map-get(var.$screens, md)) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
    gap: 8px;
  }

  .header-logo__text {
    font-size: var.$text-xs;
  }
  .header-nav{
    display: flex;
  }

  .header-nav__list {
    flex-direction: row;
    gap: 20px;
  }

  .header-nav__link {
    font-size: var.$text-sm;
  }
}