@use '@/scss/base/variables' as var;
@use '@/scss/base/mixins' as mixins;

.main-section {
  width: 100%;
  padding: 40px 0;
}

.main-section__content{
  @include mixins.container;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-section__header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.main-section__subtitle{
  font-size: var.$text-md;
  color: var.$muted-foreground;
}

.main-section__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 8px;
}

.main-section__recent-title{
  width: 100%;
  font-size: var.$text-lg;
  margin-top: 40px;
  margin-bottom: 16px;
}

.main-section__surveys{
  display: grid;
  gap: 16px;
  width: 100%;
}

@media (max-width: map-get(var.$screens, md)) {
  .main-section__container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: map-get(var.$screens, sm)) {
  .main-section__container{
    grid-template-columns: repeat(1, 1fr);
  }

  .main-section__header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
  }
}