// TODO: FONT FAMILY, FONT SIZES, FONT WEIGHT, SHADOWS, ANIMATION

$radius-lg: 16px;
$radius-md: 14px;
$radius-sm: 12px;

// LIGHT THEME

$background: #ffffff;
$foreground: #020817;

$card: #ffffff;
$card-foreground: #020817;

$popover: #ffffff;
$popover-foreground: #020817;

$primary: #1db954;
$primary-foreground: #f8fafc;

$secondary: #f1f5fb;
$secondary-foreground: #1e293b;

$muted: #f1f5fb;
$muted-foreground: #64748b;

$accent: #f1f5fb;
$accent-foreground: #1e293b;

$destructive: #f43f5e;
$destructive-foreground: #f8fafc;

$border: #e2e8f0;
$input: #e2e8f0;
$ring: #1db954;

$chart-1: #1db954;
$chart-2: #84cc16;
$chart-3: #eab308;
$chart-4: #f97316;

// DARK THEME

$background: #020817;
$foreground: #f8fafc;

$card: #020817;
$card-foreground: #f8fafc;

$popover: #020817;
$popover-foreground: #f8fafc;

$primary: #10b981;
$primary-foreground: #1e293b;

$secondary: #1e293b;
$secondary-foreground: #f8fafc;

$muted: #1e293b;
$muted-foreground: #94a3b8;

$accent: #1e293b;
$accent-foreground: #f8fafc;

$destructive: #7f1d1d;
$destructive-foreground: #f8fafc;

$border: #1e293b;
$input: #1e293b;
$ring: #10b981;