@use '@/scss/base/variables' as var;
@use '@/scss/base/mixins' as mixins;
@use "sass:map";

.survey {
  display: flex;
  justify-content: center;
  @include mixins.container;
}

.survey__container {
  width: 100%;
  max-width: 770px;
  margin: 48px 0;
}

.survey-name{
  background-color: var.$background;
  border: 1px solid var.$border;
  box-shadow: var.$shadow;
  border-radius: var.$radius-md;
  width: 100%;
  padding: 24px 24px 40px 24px;
  margin-bottom: 32px;
}

.survey-name__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.survey-name__header-title {
  font-size: var.$text-2xl;
  font-weight: var.$semibold;
}

.survey-name__header-subtitle {
  color: var.$muted-foreground;
  font-size: var.$text-sm;
}

.survey-name__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.survey-name__content-label {
  display: flex;
  justify-content: space-between;
  font-size: var.$text-sm;
}

.survey-name__content-bar-container {
  background-color: var.$muted;
  border-radius: var.$radius-lg;
  width: 100%;
  height: 8px;
}

.survey-name__content-bar-fill {
  background-color: var.$popover-foreground;
  border-radius: var.$radius-lg;
  height: 100%;
}

.survey-question {
  background-color: var.$background;
  border: 1px solid var.$border;
  box-shadow: var.$shadow;
  border-radius: var.$radius-md;
  width: 100%;
  padding: 24px;
}

.survey-question__header {
  margin-bottom: 16px;
}

.survey-question__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.survey-question__option {
  display: flex;
  align-items: center;
}

.survey-question__option-inner {
  accent-color: var.$foreground;
  box-shadow: none;
  height: 16px;
  width: 16px;
  margin-right: 6px;
}

.survey-question__option-answer {
  font-size: var.$text-sm;
  font-weight: var.$medium;
}

.survey-question__buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;


  @media (min-width: map.get(var.$screens, xs)) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.survey-question__buttons-arrow {
  display: none;
  @media (min-width: map.get(var.$screens, xs)) {
    display: flex;
  }
}

.survey-question__textarea {
  background-color: var.$background;
  border: 1px solid var.$border;
  box-shadow: var.$shadow;
  border-radius: var.$radius-md;
  font-size: var.$text-sm;
  padding: 7px;
  resize: none;
}

.survey-question__option-inner-text {
  font-size: var.$text-sm;
}