@use '@/scss/base/variables' as var;
@use '@/scss/base/mixins' as mixins;
@use 'sass:map';

.hero {
  @include mixins.container;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-content {
  display: flex;
  flex-direction: column;
}

.hero-content__text {
  margin: 8px 0 16px 0;
  color: var.$muted-foreground;
}

.hero-image {
  width: 100%;
  border-radius: var.$radius-md;
  object-fit: cover;
}

@media (min-width: map.get(var.$screens, md)) {
  .hero {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .hero-content__text {
    font-size: var.$text-xl;
  }

  .hero-content__btn {
    width: fit-content;
  }

  .hero-image {
    max-width: 500px;
  }
}

@media (min-width: map.get(var.$screens, lg)) {
  .hero {
    flex-direction: row;
    gap: 40px;
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .hero-image {
    max-width: 400px;
  }
}

@media (min-width: map.get(var.$screens, xl)) {
  .hero {
    padding-top: 192px;
    padding-bottom: 192px;
  }

  .hero-image {
    max-width: 550px;
  }
}