@use '@/scss/base/variables' as var;

.surveys-metrics {
  width: 100%;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.surveys-metrics__item{
  display: flex;
  flex-direction: column;
}

.surveys-metrics__label{
  color: var.$muted-foreground;
  font-size: var.$text-sm;
}

.surveys-metrics__value{
  font-weight: var.$semibold;
  font-size: var.$text-sm;
}

@media (min-width: map-get(var.$screens, sm)) {
  .surveys-metrics{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: map-get(var.$screens, md)) {
  .surveys-metrics{
    padding: 0 24px 24px;
  }
}